body{
    width:100%;
    height: 100%;
}

.menu-principal{
    width: 100%;
    background-color: rgb( 25, 23, 23);
    height: 60px;
}

main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo{
    float: left;
    padding: 15px;
    width:70%;
}
.redes-sociais ul li{
    margin-left: 12px;
    display: block;
    float: left;
    list-style: none;
}
.redes-sociais {
    width: 25%;
    float: left;
}